<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <!-- Interface -->
    <category label="الرئيسية">
		<setting type="lsep" label="عام" />
		<setting id="general.customLinks" type="text" label="مصدر الروابط الاضافة" default=""/>
	</category>

    <!-- Accounts -->
    <category label="30137">

        <!-- General -->
        <setting type="lsep" label="30086"/>
        <setting type="sep"/>
        <setting id="general.accountNotifications" type="bool" label="30138" default="true"/>

        <!-- Real-Debrid -->
        <setting type="lsep" label="30145"/>
        <setting type="sep"/>
        <setting id="realdebrid.enabled" type="bool" default="false" label="30163"/>
        <setting id="rd.username" type="text" label="30162" default="" enable="false" visible="eq(-1,true)"/>
        <setting id="rd.premiumstatus" type="text" subsetting="true" label="30488" enable="false" visible="eq(-2,true)"
                 default=""/>
        <setting id="rd.auth_start" type="action" label="30161" option="close"
                 action="RunPlugin(plugin://plugin.video.hs/?action=authRealDebrid)" visible="eq(-3,true)"/>
        <setting id="rd.priority" type="slider" subsetting="true" label="30164" option="int" range="1,1,10" default="10"
                 visible="eq(-4,true)"/>
        <setting id="rd.torrents" type="bool" subsetting="true" label="30165" default="true" visible="eq(-5,true)"/>
        <setting id="rd.hosters" type="bool" subsetting="true" label="30166" default="true" visible="eq(-6,true)"/>
        <setting id="rd.autodelete" type="bool" subsetting="true" label="30167" default="true" visible="eq(-7,true)"/>
        <setting id="rd.cloudInspection" type="bool" subsetting="true" label="30208" default="true"
                 visible="eq(-8,true)"/>

    </category>

</settings>
